@import '../../../../styles/variables';

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

    &__welcome {
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        max-width: 500px;
        @extend %card;

        h1 {
            width: 100%;
            margin-bottom: 1em;
            font-size: 1.6rem;
            text-align: center;
        }

        input { margin-bottom: 1em; }
    }
}

.room-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    max-width: 500px;
    height: 100vh;
    transform: translateX(-100%);

    &.in-room {
        transform: translateX(0);
    }
}
