@import '../../../../styles/tools/tools';

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;

    &.loading { flex-direction: column; }

    &__welcome {
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        max-width: 500px;
        @extend %card;

        h1 {
            width: 100%;
            margin-bottom: 1em;
            font-size: 1.6rem;
            text-align: center;
        }

        input { margin-bottom: 1em; }
    }
}

.overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms;

    &.is-active {
        pointer-events: initial;
        opacity: 0.5;
    }
}
