@import '../../../../styles/tools/tools';

.user {
    position: relative;
    display: block;
    width: 4em;
    height: 4em;
    border-radius: 50%;

    &__tooltip {
        position: absolute;
        top: -70%;
        left: 50%;
        white-space: pre;
        padding: 0.8em;
        border-radius: 3px;
        background: $dark-grey;
        color: white;
        font-size: 0.8rem;
        transform: translateX(-50%);

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            @include triangle(bottom, 6px, $dark-grey);
            transform: translate(-50%, 100%);
        }
    }

    &--me .user__tooltip { border: 2px solid $blue; }

    // Styles for specific prefixes

    &--bothersome-cousin, &--random-family-friend { background: linear-gradient(to bottom, #563a26 68%, #ffcd94 68%); }

    &--crazy-uncle { background: linear-gradient(to bottom, grey 40%, #ffcd94 40%); }

    &--conservative-dad {
        background: linear-gradient(to bottom, grey 40%, #ffcd94 40%, #ffcd94 80%, black 80%);

        &::before {
            content: '';
            position: absolute;
            bottom: 1px;
            left: 50%;
            background-color: white;
            transform: translateX(-50%);
            @include triangle(bottom, 6px, red);
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%) scaleY(1.6);
            @include triangle(top, 7px, red);
        }
    }

    &--dog {
        background: radial-gradient(ellipse at bottom, black 8%, #fcd13a 10%, #fcd13a 11%);

        &::before, &::after {
            content: '';
            position: absolute;
            width: 29%;
            height: 75%;
            border-radius: 29%;
            background: brown;
        }

        &::before { transform: translate(-50%, 0) rotate(24deg); }

        &::after { right: 0; transform: translate(55%, -5%) rotate(-30deg); }
    }

    &--french-only-grandmother {
        background: linear-gradient(to bottom, grey 70%, #ffcd94 70%);

        &::before, &::after {
            content: '';
            position: absolute;
            bottom: 10%;
            width: 13%;
            height: 13%;
            border-radius: 50%;
            border: 2px solid rgba(black, 0.8);
            background-color: rgba(white, 0.5);
        }

        &::before { left: 25%; }

        &::after { right: 25%; }
    }

    &--baby {
        background: linear-gradient(to top, #ffcd94 40%, #2989d8 40%);

        &::before, &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 13%;
            height: 17%;
            border-radius: 13%;
            background: #2989d8;
        }

        &::before {
            transform: translate(-50%, 0) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, 0) rotate(-45deg);
        }
    }

    &--art-teacher-aunt {
        background: linear-gradient(to top, #ffcd94 40%, #2989d8 40%, #2989d8 55%, #ff3030 55%, #ff3030 55%, #ff3030 71%, #48ff30 71%, #48ff30 87%, #f430ff 87%);
    }
}
