@import './circular';
@import './tools/tools';

html { background-color: $red; }

body {
    min-height: 100vh;
    overflow: hidden;
    background-image: url('http://www.dinpattern.com/tiles/vintage-flake.gif');
    background-repeat: repeat;
    background-color: $almost-white;
    font-family: $systemdefault;
}

button { font-size: inherit; font-family: inherit; cursor: pointer; }
input { font-family: inherit; }
