.page-transition {
    &-appear {
        opacity: 0.01;

        &-active {
            opacity: 1;
            transition: opacity 200ms $enter;
        }
    }

    &-enter {
        opacity: 0.01;

        &-active {
            opacity: 1;
            transition: opacity 200ms $enter;
        }
    }

    &-leave {
        opacity: 1;

        &-active {
            opacity: 0.01;
            transition: opacity 200ms $exit;
        }
    }
}

.grow-transition {
    &-appear {
        opacity: 0.01;
        transform: translate(-50%, 10px) scale(0.6);

        &-active {
            opacity: 1;
            transform: translate(-50%, 0) scale(1);
            transition: opacity 200ms $enter, transform 200ms $bounce;
        }
    }

    &-enter {
        opacity: 0.01;
        transform: translate(-50%, 0) scale(1);

        &-active {
            opacity: 1;
            transform: translate(-50%, 10px) scale(0.6);
            transition: opacity 200ms $enter, transform 200ms $bounce;
        }
    }

    &-leave {
        opacity: 1;
        transform: translate(-50%, 0) scale(1);

        &-active {
            opacity: 0.01;
            transform: translate(-50%, 10px) scale(0.6);
            transition: opacity 200ms $enter, transform 200ms $bounce;
        }
    }
}
