@import '../../../../styles/variables';


.room-wrapper {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 50%;
    max-width: 500px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 200ms $standard;
    will-change: transform;

    &.in-room {
        transform: translateX(0);
    }
}

.room {
    display: flex;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    &__chatlog {
        padding: 2em;
        flex-grow: 2;
        background-color: white;
    }

    &__message {
        width: 80%;
        word-wrap: break-word;

        & + & {
            margin-top: 1em;
        }

        &__message {
            display: block;
            padding: 1em;
            border-radius: 1em;
            background: $almost-white;
            font-size: 0.8rem;
        }

        &__meta {
            margin-top: 0.4em;
            margin-bottom: 2em;
            color: $grey;
            font-size: 0.7rem;

            span { display: block; }
        }

        &.is-me {
            margin-left: auto;

            .room__message__message {
                background: $blue;
                color: white;
            }

            .room__message__meta {
                text-align: right;
            }
        }

        &.is-same {
            .room__message__message {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
            margin-top: 0;

            .room__message__meta { display: none; }

            + .room__message {
                margin-top: 0;

                .room__message__message {
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                }
            }

            & + & {
                .room__message__message { border-radius: 0; }
            }
        }
    }

    &__leave {
        position: fixed;
        top: 0;
        left: 100%;
        padding: 1.2em;
        border: none;
        background: $dark-grey;
        color: white;
        font-size: 0.8rem;
        text-transform: uppercase;
        transition: background 150ms $standard;

        &:hover {
            background: lighten($dark-grey, 10%);
        }
    }

    &__form {
        padding: 2em;
        border-top: 2px solid gray;
        background: white;

        input {
            box-sizing: border-box;
            width: 100%;
            padding: 1em;
        }
    }
}
