@import '../../../../styles/tools/tools';


.room-wrapper {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 50%;
    max-width: 500px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 200ms $standard;
    will-change: transform;

    &.in-room {
        transform: translateX(0);
    }
}

.room {
    display: flex;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    &__chatlog {
        padding: 2em;
        flex-grow: 2;
        background-color: white;
    }

    &__leave {
        position: fixed;
        top: 0;
        left: 100%;
        padding: 1.2em;
        border: none;
        background: $dark-grey;
        color: white;
        font-size: 0.8rem;
        text-transform: uppercase;
        transition: background 150ms $standard;

        &:hover {
            background: lighten($dark-grey, 10%);
        }
    }

    &__form {
        margin-right: 0.6em;
        flex-grow: 2;

        &-wrapper {
            display: flex;
            align-items: center;
            padding: 2em;
            border-top: 2px solid gray;
            background: white;

            input {
                box-sizing: border-box;
                width: 100%;
                padding: 1em;
                border: 1px solid $grey;
                border-radius: 3px;
            }
        }
    }
}
